body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: large;
    background-color: #dfeba0;
}

#clientes-list {
    max-width: 300px;
    margin: 20px auto;
    background-color: #dfeba0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#clientes-list h2 {
    margin-top: 0;
}

.button-Classe {

    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    padding: 10px;
    border: 1px solid #dfeba0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}