body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dfeba0;
}

h1 {
    color: #000000;
}


form {
    background-color: #dfeba0;
    padding: 90px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0 20px 20px; 
    max-width: 300px;
    text-align: left;
}
.Painel {
    background-color: #dfeba0;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 0px 0px auto; 
    max-width: 200px;
    text-align: left;
}

input[type="text"],
.button-container {
    display: flex;
    justify-content: center; 
    gap: 40px; 
}

button {
    padding: 10px;
    border: 1px solid #dfeba0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#clientes-list {
    max-width: 300px;
    margin: 20px auto;
    background-color: #dfeba0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#clientes-list h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
